<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1280,initial-scale=0,user-scalable=1">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<title>{$page_title|default=$default_seo_title}</title>
<meta name="description" content="{$page_des|default=$default_seo_des}">
<meta name="Keywords" content="{$page_kwd|default=$default_seo_kwd}">

<link type="text/css" rel="stylesheet" href="../Public/css/style.css" />

<script type="text/javascript" src="../Public/js/jquery-1.11.1.min.js"></script>

<!--banner-->
<script type="text/javascript" src="../Public/js/banner.js"></script>
<script>
    $(function(){
        $(".clb_Box").clbShow({
            events:"click",  //焦点事件 点击click 划过mouseover
            effect:"car"    //轮播执行效果 左右轮播car  渐显渐隐fade
        });
    })
</script>

<script type="text/javascript">
$(function(){
	$(".tt_fhdb").click(function(){
        $("body,html").stop().animate({"scrollTop":$("#fhdb_top").offset().top},700)
	});
	
	$(".banner_sb").click(function(){
        $("body,html").stop().animate({"scrollTop":$("#index_b").offset().top},700)
	});
});
</script>


</head>

<body>
<div id="fhdb_top"></div>

<div class="top wid_max">
    <div class="head wid_max">
        <div class="logo fl"><a href="{$home}"><img src="../Public/images/logo.png" /></a></div>
        <div class="nav fr">
            <ul>
                <li><a href="{$home}">首页</a>
				
				
				</li>
                <li><a href='{:U("index/news/fid/125")}'>研究</a></li>
                <li><a href='{:U("index/product-a1")}'>产品</a></li>
                <li><a href='{:U("index/about/fid/127")}'>方案</a></li>
                <li><a href='{:U("index/news/fid/129")}'>我们</a></li>
                <li><a href='{:U("index/about/fid/130")}'>联络</a></li>
                <div class="cl_b"></div>
            </ul>
        </div>
        <div class="cl_b"></div>
    </div>
    
    <!--banner-->
    <div class="clb_Box cban_box">
        <div class="clb_Jz"></div>
        <div class="clb_Btn clb_BtnR"></div>
        <div class="clb_Btn clb_BtnL"></div>
        <ul>
		<volist id='vo' name='banner_list'>
            <li style="background:url(__PUBLIC__/Uploads/{$vo.img}) no-repeat center center;">
                <div class="banner_text width" style="margin-top:-80px;">
                    <h6 style="display:none"><img src="../Public/images/banner1_text.png" /></h6>
                </div>
            </li>
		</volist>

        </ul>
        <div class="clb_Jd"></div>
	</div>
    
    <div class="banner_sb"><a href="#index_b"><img src="../Public/images/arrow.png"></a></div>
</div>


<div class="index_b wid_max" id="index_b">
	<div class="index_b-text fl" id="index_ba">
    	<h3><span>热拆键合系统</span><a href='{:U("index/news/fid/126/cid/371")}'>了解更多 ></a><div class="cl_b"></div></h3>
        <h5><strong>WLP TB1202 热拆键合系统</strong>采用旋涂、Roll-to-Roll 涂布等工艺，满足不同尺寸、不同形状基底的施工要求；产品可依不同客户需求，实现不同胶层厚度（1 ~20 um）可调。</h5>
    </div>
    <div class="index_b-text fl" id="index_bb">
    	<h3><span>激光拆键合系统</span><div class="cl_b"></div></h3>
        <div class="index_b-more"><a href='{:U("index/news/fid/126/cid/371")}'>了解更多 ></a></div>
    </div>
    <div class="index_b-text fl" id="index_bc">
    	<h3><span>三维硅通孔技术</span><a href='{:U("index/news/fid/126/cid/374")}'>了解更多 ></a><div class="cl_b"></div></h3>
        <h5>该材料属于正性光刻胶，可实现室温底部开窗，产品良率高；材料尺寸的耐热性高，200 ℃以下没有明显的玻璃化转变；优异的热稳定性，5 wt% 失重温度高达330 ℃；</h5>
    </div>
    <div class="cl_b"></div>
</div>



<div class="in_jsyj width">
	<h2 class="in_bt">技术研究</h2>
    <h5>我们致力研究不同的原料与最新技术的应用，进行性能测试与工艺参数制定,<br />并将我们对先进技术的洞见转化成卓越的产品。</h5>
    <div class="in_jsyj-text">
    	<dl>
        	<dt><img src="../Public/images/in_jsyj-icon1.png" /></dt>
            <dd><strong>出版物</strong>了解我们的专注与技术演进</dd>
        </dl>
        <dl>
        	<dt><img src="../Public/images/in_jsyj-icon2.png" /></dt>
            <dd><strong>材料设计与工艺</strong>将材料设计与工艺应用相结合</dd>
        </dl>
        <dl>
        	<dt><img src="../Public/images/in_jsyj-icon3.png" /></dt>
            <dd><strong>核心技术</strong>核心技术研究成果表</dd>
        </dl>
        <dl>
        	<dt><img src="../Public/images/in_jsyj-icon4.png" /></dt>
            <dd><strong>可持续发展</strong>技术研究以应对可持续发展</dd>
        </dl>
        <div class="cl_b"></div>
    </div>
</div>


<div class="in_jjfa wid_max">
	<div class="in_jjfa-pic wid_max"><img src="../Public/images/in_jjfa-bg.jpg" /></div>
    <div class="in_jjfa-text width">
    	<h2>整体解决方案</h2>
        <h5>我们能灵活针对客户的需要提供订制研发，<br />售前技术支持、试用阶段的研发协作、产品销售,<br />售后技术支持与客户关系拓展等销售周期的完整服务。</h5>
        <div class="in_more"><a href='{:U("index/about/fid/127")}'>了解更多 ></a></div>
    </div>
</div>


<div class="in_news width">
	<h2 class="in_bt">热点新闻</h2>
    <h6 class="tit_botxian width"></h6>
    <div class="in_news-text">
    <volist id='vo' name='list1'>
        <dl>
        	<dt><a href='{:U("index/news_view/fid/$vo[fid]/cid/$vo[belong]/eid/$vo[id]")}'><img src="__PUBLIC__/Uploads/{$vo.img}" /></a></dt>
            <dd>
            	<h2><a href='{:U("index/news_view/fid/$vo[fid]/cid/$vo[belong]/eid/$vo[id]")}'>{$vo.title}</a></h2>
                <h4>{$vo.addtime|date="Y-m-d",###}</h4>
                <h5>{$vo.intro|msubstr=0,100,'utf-8',true}</h5>
            </dd>
        </dl>
   </volist>
        <div class="cl_b"></div>
    </div>
    <div class="in_more"><a href='{:U("index/news/fid/129")}#热点新闻'>了解更多 ></a></div>
</div>


<!------底部------>
<include file="Public:footer" />



<!------返回顶部------>
<div class="tt_fhdb width">
	<a href="#id"><img src="../Public/images/fhdb_icon.png" /></a>
</div>

<!----------------页面动画效果-------------->
<script type="text/javascript">
	$(function(){
			var ttWinH;
			var ttCh=$(window).height()/2+400;
			window.onresize=function(){
                 //init();
				ttCh=$(window).height()/2+400;
				} 
			
			var ttTimeA=100;
			var ttTimeB=300;
			var ttTimeC=500;
			var ttTimeD=700;
			var ttTimeE=900;
			var ttH01=$(".in_jsyj").offset().top-ttCh;
			var ttH01Pd=true;
			$(window).scroll(function(){
				if($(window).scrollTop()>ttH01)
					{
						if(ttH01Pd)
						{
							inaTop();
						}
					}
				
				})
				
			function inaTop(){
				$(".in_jsyj-text dl:eq(0) dt").addClass("xz_360").stop().animate({"opacity":"1"},ttTimeC,function(){
					$(".in_jsyj-text dl:eq(1) dt").addClass("xz_360").stop().animate({"opacity":"1"},ttTimeC,function(){
						$(".in_jsyj-text dl:eq(2) dt").addClass("xz_360").stop().animate({"opacity":"1"},ttTimeC,function(){
							$(".in_jsyj-text dl:eq(3) dt").addClass("xz_360").stop().animate({"opacity":"1"},ttTimeC);
						});
					});
				});
				ttH01Pd=false;
				
			}
			
		})
</script>

<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
<script type="text/javascript">
    $youziku.load("body", "379899e4fb624a8396b12f981adcb20e", "Source-Han-Light");
    /*$youziku.load("#id1,.class1,h1", "379899e4fb624a8396b12f981adcb20e", "Source-Han-Light");*/
    /*．．．*/
    $youziku.draw();
</script>
</body>
</html>