<taglib name="html" />
<include file="Public/header" />
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <include file="Public/top" />
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <!--  left_comm-->
        <include file="Public/left_comm" />
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="{$home}">首页</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href='{:U("Access/index")}'>用户管理</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="###">用户修改</a>

                        </li>

                    </ul>

                </div>


                <h1 class="page-title" >用户修改
                    <small></small>
                </h1>

                <div class="clearfix"></div>
                <!-- table  -->



                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="__URL__/user_edit" id="form_sample_1" class="form-horizontal" method="post">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">用户名
                                    <span class="required"> </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="name"  class="form-control" value="{$user_info.name}" readonly="readonly"/> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">密码
                                    <span class="required">  </span>
                                </label>
                                <div class="col-md-4">
                                    <input name="password" type="text" class="form-control" /> </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-3">角色
                                    <span class="required">  </span>
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control" name="role_id">
                                        <option value="">请选择</option>
                                        <volist id='vo' name="role_list">
                                        <option value="{$vo.id}" <eq name="role_id" value="$vo['id']" >selected</eq> >{$vo.name}</option>
                                        </volist>

                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn grey-salsa btn-outline">Cancel</button>
                                    <input type="hidden" name="user_id" value="{$user_info['id']}">
                                    <input type="hidden" name="act" value="edit">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>






                <!-- table end -->





            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>

        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <include file="Public/footer" />
    <!-- END FOOTER -->
</div>
<!--[if lt IE 9]>
<script src="__ROOT__/Public/assets/global/plugins/respond.min.js"></script>
<script src="__ROOT__/Public/assets/global/plugins/excanvas.min.js"></script>
<script src="__ROOT__/Public/assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__ROOT__/Public/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__ROOT__/Public/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/global/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__ROOT__/Public/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->


<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__ROOT__/Public/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__ROOT__/Public/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

</body>
</html>
